---
layout: default
---

<div class="contents front-page">
  <div class="container">

    <!-- 記事一覧 -->
    {% for post in paginator.posts %}
      <article class="archive">
        <h2 class="archive__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p class="archive__date"><time>{{ post.date | date: '%B %d, %Y' }}</time></p>
        <div class="archive__excerpt">{{ post.excerpt }}</div>
      </article>
    {% endfor %}

    <!-- ページネーション -->
    {% if paginator.total_pages > 1 %}
      <div class="pagination">

        {% if paginator.previous_page %}
          <a class="pagination__item" href="{{ paginator.previous_page_path | relative_url }}">&lt; 前のページ</a>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <span class="pagination__item current">{{ page }}</span>
          {% elsif page == 1 %}
            <a class="pagination__item" href="{{ site.paginate_path | relative_url | replace: 'page:num', '' }}">{{ page }}</a>
          {% else %}
            <a class="pagination__item" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a class="pagination__item" href="{{ paginator.next_page_path | relative_url }}">次のページ &gt;</a>
        {% endif %}

      </div><!--pagination-->
    {% endif %}

  </div><!--container-->
</div><!--main-->
